
<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      UI Elements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-page">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of cards;let i=index">
          <ion-card class="welcome-card" (click)="openLinkUrl(item.card.url)">
            <ion-avatar class="ion-margin-top ion-margin-start">
              <img src="{{'https://ionicframework.com/docs/assets/icons/'+item.card.a.div.img.src}}" alt="" />
            </ion-avatar>
            <ion-card-header>
              <ion-card-title>{{item.card.a.div.header.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{item.card.a.div.div.p}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>
