<ion-header>
  <ion-toolbar>
      <ion-button color="danger" (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios"></span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </ion-button>
    <ion-title>content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
      <iframe src="https://ionicframework.com/docs/demos/api/badge/index.html?ionic:mode=md" class="iframe" scrolling="yes"  frameborder="0" align="middle" allowfullscreen="allowfullscreen"></iframe>
</ion-content>
